# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitattributes

# Developer Add
#  Local machine initial setup(circleci merge unmanaged)
#  $ git config --global merge.ours.driver true
#  $ git config --global merge.ours.name "Keep ours merge"
ignore_target_file merge=ours